|===
|Parameter|Necessity|Description

{{#parameters}}
|{{#tableCellContent}}`{{name}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{#optional}}optional{{/optional}}{{^optional}}mandatory{{/optional}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{description}}`{{/tableCellContent}}

{{/parameters}}
|===